Ark_UnityNetworkPrototype/Library/
Ark_UnityCombatPrototype/Library/
Ark_UnityCombatPrototype_2/Library
Ark_UnityAvatarAnimationPrototype/Library

Ark_UnityNetworkPrototype/UnityPackageManager
Ark_UnityCombatPrototype/UnityPackageManager
Ark_UnityCombatPrototype_2/UnityPackageManager
Ark_UnityAvatarAnimationPrototype/UnityPackageManager
